/* CSS document*/
/*****************
*Copyright:Skyworth
*Author:shibei
*Date:2016-1-13
*Description:teletext module css  style
******************/
body{
	font-family: "Microsoft YaHei";
	color:white;
}
.title {
	font-weight: bold;
	display: inline-block;
	font-size: 25px;
	width: 700px;
	background-color: #919191;
	text-align: center;
	margin: 0px;
	line-height: 50px;
}
.button{
	margin-top: 20px;
	width: 200px;
	background-color: #919191;
	color:white;
	text-align: center;
	line-height: 40px;
}
.btn-selected{
	background-color: #0099FF;
}