@charset "utf-8";
/* CSS Document */
body,html{
	height:100%;
	font-size:16px;
}
.left{
	width:20%;
	height:100%;
	float:left;
	background:#ebebeb;
}
.left li{
	text-align:center;
	background:#cccccc;
	height:50px;
	line-height:50px;
	width:100%;
	float:left;
	margin-bottom:10px;
}
.right{
	float:right;
	width:80%;
	height:100%;
}

.right ul{
	display:none;
}
.right li{
	text-align:center;
	background:#ebebeb;
	height:50px;
	line-height:50px;
	width:100%;
	float:left;
	margin-bottom:10px;
}
.li-selected{
	background:#0099ff!important;
	color:#FFF!important;
}
.li-current{
	background:#b3b3b3!important;
	color:#FFF!important;
}
	
