/* CSS document*/
/*****************
*Copyright:Skyworth
*Author:shibei
*Date:2016-1-21
*Description:on time css  style
******************/
body {
	font-family: "Microsoft YaHei";
	color: white;
}
.title {
	font-weight: bold;
	display: inline-block;
	font-size: 25px;
	width: 650px;
	background-color: #919191;
	text-align: center;
	margin: 0px;
	line-height: 50px;
	margin-left: 5px
}
.content {
	width: 650px;
	background-color: #919191;
	margin-left: 5px;
	margin-top: 5px;
	height: auto
}
.content>li {
	background-color: #999;
	width: 648px;
	list-style: none;
	border: 1px solid #919191;
	font-size: 17px;
	line-height: 40px
}
.content>li>span {
	width: 200px;
	text-align: left;
	line-height: 40px;
	display: inline-block;
	padding-left: 5px;
	font-size: 20px
}
.content>li>div {
	display: inline-block;
	font-size: 20px;
	line-height: 40px;
	color: white;
}
.btn{
	margin-left: 270px;
}
.switchTab{
	display: inline-block;
}
.switchTab>li{
	display: inline-block;
	width: 140px;
	font-size: 17px;
	color: #777;
}
.switchTab>li:nth-child(2){
	color:white;
	font-size: 20px;
}
.is-disabled{
	color: #777 !important;